
<div class = "container-fluid">
    <p class ="logo"> Icono</p>
    <p id ="link" ><a href="#">redes </a> <a href="#"> Editar</a></p>
    <p class = "circulo"> FOTO </p>

  <div class ="header"> <a img src="  " alt=""> </a>
  </div>
  <div>
      <div class="row">

        <div class="col-sm-4">Diego Badra</div>

          <div class="col-sm-8">

                  <dl>
                    <dt><h3>Informacion Profesional</h3></dt>

                      <dd><kbd>Tecnico en Redes </kbd></dd>
                      <dd><kbd>Diplomado en Nuevas Tecnologias</kbd></dd>
                      <dd><kbd>Electricista  Matriculado</kbd></dd>

                  </dl>

        </div>

        <div class = "col-sm-5"> Tecnico superior en Redes</div>


      </div>

  </div>


</div>
