.header{
background-color: aqua;
color: #000000;
padding:150px;
font: 18px Arial, Tahoma;
 }
 .logo
  { padding:0; width:auto; float:left;
    font: 18px Arial, Tahoma;

}
.redes{
  padding:0;width:auto; float:right;
  font: 18px Arial, Tahoma;
}
